<h1>Welcome to your HaiBoo Maker!</h1>
<!-- <p>Find me in app/views/poems/new.html.erb</p> -->

<a href="/poems">Back to All Da Haikus</a>

<ul>

  <%= button_to "HaiBoo Maker", action: "new" %>

    <form method="get" action="/poems/new" class="button_to">
      <div><input value="Make me a HaiBoo!" type="submit" /></div>
    </form>

<!-- need ajax call for new HaiBoo here or in poems.js/application.js -->

</ul>
